body {
  font-family: Arial, sans-serif;
  text-align: left;
  color:orange;
  border:dot-dot-dash;
}

.value {
  font-weight: bold;
  font-size: 24px;
/*   color: #00698f; blue */
  color:blue;
}

h3 {
  margin-top: 20px;
  color:magenta;
}
